/* General Styles */
body {
    font-family: Arial, sans-serif;
    width: 98%;
    max-width: 960px;
    margin: 0 auto;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    background-color: #800000;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 0;
    font-size: 1.2em;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: #800000;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    background-color: #333;
    color: #fff;
}

section, aside {
    margin: 20px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #800000;
    color: #fff;
}

/* Responsive Styles */
img {
    max-width: 100%;
    height: auto;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    nav ul {
        display: none;
    }

    #mobile_menu {
        display: block;
    }

    header h1 {
        font-size: 2em;
    }

    header p {
        font-size: 1em;
    }

    section, aside {
        width: 100%;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 90%;
    }

    header h1 {
        font-size: 1.5em;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}
